<div class="container-fluid">
  <div class="row align-items-end">
    <nav class="navbar bg-dark scroll">
      <div class="container-fluid">
        <div class="col-md-3">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon bg-light"></span>
          </button>
        </div>
        <div class="col-md-3">
          <a href="{% url 'new_project' %}"><button type="submit" class="btn btn-light">Submit a site</button></a>
        </div>
        <div class="col-md-3">
          <div class="class-buttons ms-5">
            <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-light">Login</button></a>
            <a href="{% url 'register' %}"><button type="button" class="btn btn-outline-light">Sign Up</button></a>
          </div>

        </div>
        <div class="col-md-3" style="float: right;">
          <ul>
            <li class="nav-item dropdown" style="list-style:none;">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                <li><a class="dropdown-item" href="#">{{user.username}}</a></li>
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">iReview</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  APIs
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                  <li><a class="dropdown-item" href="api/project">Project</a></li>
                  <li><a class="dropdown-item" href="api/profile">Profile</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                </ul>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </nav>
  </div>
</div>